<div class="card">
  <div class="section-header">
    <h1><%= @page.title %></h1>
    <p class="section-subtitle">
      Learn more about the Racquets Pro Shop.
    </p>
  </div>

  <div>
    <%= simple_format(@page.content) %>
  </div>
</div>
